/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_58keys.h"

/* map lily58 extra keys */


#define X_LILY58TOPROW  &kp ESC     &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          X_MT     &kp N6        &kp N7        &kp N8        &kp N9        &kp N0        X_RT


// left column
#define X_LT &none
#define X_LM &none
#define X_LB &none


// right column
#define X_RT &none
#define X_RM &none
#define X_RB &none

// - thumb
//   - outer
#define X_LH &kp TAB &none // thumb
#define X_RH &none &none
//   - inner pairs
#define X_MB // upper ones
#define X_MH // lower ones


/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

